/*================================================
[  Table of contents  ]
================================================

1. Slider Css

2. Preloader Css

3. Responsive css code

/*======================================
[ End table content ]
======================================*/

/*=== Preloader Css ===*/

.finance-slider-wrapper {
    position: relative;
    height: 100%;
}
.finance-slider-preloder {
    position: absolute;
    height: 100%;
    background: #000;
    color: #fff;
    left: 0;
    top: 0;
    width: 100%;
}

.finance-slider-preloder span {
    font-size: 50px;
    height: 50px;
    left: 50%;
    line-height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
}


/*=== ISOTOP V2 ===*/
.portfolio-menu ul.isotop-filter-2 {
    justify-content:  center;   
    margin-top: 20%;
    height:  100%;
}

.portfolio-menu ul.isotop-filter-2 li{
    width: 100%;
}
.team-social-icon{
    text-align: center;
}
figure.team-img.elementor-image-box-img {
    margin: 0 !important;
}
.counter-detail{
    padding-left: 90px;
}
/*----------------------
# Responsive css
------------------------*/

/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
   
}


/* Tablet and Mobile Layout: 768px. */

@media only screen and (max-width: 991px) {

   
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    

}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}